div .col-md-3 > img {
    position: relative;
    float: left;
    width: 40%;
    margin-left: 15px;
    border-radius: 15px;
}

#indeximg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#tableimg, #funfactimg {
    position: relative;
    width: 100px;
    height: 100px;
}
